### Join

In [0]:
USE movie_silver;

In [0]:
DESC movies;

In [0]:
CREATE OR REPLACE TEMP VIEW v_movies_2011
AS
SELECT movie_id, title, budget, revenue, year_release_date, release_date
FROM movies
WHERE year_release_date = 2011

In [0]:
SELECT * FROM v_movies_2011;

In [0]:
CREATE OR REPLACE TEMP VIEW v_productions_countries
AS
SELECT * FROM productions_countries;

In [0]:
SELECT * FROM v_productions_countries;

In [0]:
CREATE OR REPLACE TEMP VIEW v_countries
AS
SELECT country_id, country_name FROM countries;

In [0]:
SELECT * FROM v_countries;

#### INNER JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date, VC.country_name
FROM v_movies_2011 VM
INNER JOIN v_productions_countries VPC ON VM.movie_id = VPC.movie_id
INNER JOIN v_countries VC ON VC.country_id = VPC.country_id;

#### LEFT JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date, VC.country_name
FROM v_movies_2011 VM
LEFT JOIN v_productions_countries VPC ON VM.movie_id = VPC.movie_id
LEFT JOIN v_countries VC ON VC.country_id = VPC.country_id;

#### RIGHT JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date, VC.country_name
FROM v_movies_2011 VM
RIGHT JOIN v_productions_countries VPC ON VM.movie_id = VPC.movie_id
RIGHT JOIN v_countries VC ON VC.country_id = VPC.country_id;

#### FULL JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date, VC.country_name
FROM v_movies_2011 VM
FULL JOIN v_productions_countries VPC ON VM.movie_id = VPC.movie_id
FULL JOIN v_countries VC ON VC.country_id = VPC.country_id;

#### SEMI JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date
FROM v_movies_2011 VM
INNER JOIN v_productions_countries VPC ON VM.movie_id = VPC.movie_id
SEMI JOIN v_countries VC ON VC.country_id = VPC.country_id;

#### ANTI JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date
FROM v_movies_2011 VM
INNER JOIN v_productions_countries VPC ON VM.movie_id = VPC.movie_id
ANTI JOIN v_countries VC ON VC.country_id = VPC.country_id;

#### CROSS JOIN

In [0]:
SELECT VM.title, VM.budget, VM.revenue, VM.year_release_date, VM.release_date, VC.country_name
FROM v_movies_2011 VM CROSS JOIN v_countries VC;